:root {
  --red: #f15152;
  --mustard: #edb183;
  --cream: #f4d8cd;
  --darkgreen: 1e555c;
  --maroon: #3a2e39;
}

* {
  font-family: Calibri;
}

.tabby {
  position: absolute;
  left: 50%;
  top: 2em;
  transform: translate(-50%);
}

.tab-content {
  display: none;
}

.tab-content.is-selected {
  display: block;
}

.tab {
  background-color: var(--cream);
  border: none;
  height: 2em;
  width: 6em;
  filter: grayscale(75%) brightness(0.9);
}

.tab.is-selected {
  filter: none;
  background-color: var(--cream);
}
